.center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

input {
    position: relative;
    display: block;
    top: 20px;
    left: 670px;
    background-color: white;
    box-shadow: 1px 1px 10px #e3dedd;
    border: 0px ridge #e3dedd;
    border-radius: 25px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    transition: 0.1s;
    margin: 0;
}

input:hover {
    background-color: #f8f8f8;
}

input[type="text"] {
    width: 500px;
    padding: 10px 40px 10px;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;
}

#icon {
    display: block;
    background-image: url(/images/magnifying-glass-logo.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}